
/* common css starts here */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
  max-width: 100%;
}

.color-primary{
  color: #131313;
}
.color-secondary-dark{
  color:  #424242;
}

.text-common{
  font-size: 16px;
  line-height: 162%;
  color:  #727272;
}

.display-flex{
  display: flex;
}
.margin-bottom{
  margin-bottom: 32px;
}

.secondary-heading{
  font-size: 45px;
  font-weight: 500;
  color: #727272;
}

/* common css ends */

.header-part{
  text-align: center;
  background-color:  rgba(255, 144, 14, 0.1);
  padding: 5% 10%;
}

.navbar{
    justify-content: space-between;
}

.logo > a{
  text-decoration: none;
  font-size: 2.9rem;
  font-weight: 700;
}



.menubar > ul{
  list-style: none;
  gap: 1.25rem;
  
}

.menubar > ul > li > a{
  text-decoration: none;
  font-size: 1.25rem;
  color:  #424242;
}

.menubar > ul > li > a:hover{
  color: #ff900e;
}

.heading-banner{
  font-size: 4rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.explore-button{
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
  color: #fff;
  background-color:  #ff900e;
  border-radius: 0.5rem;
}

.banner > img{
  width: 100%;
  margin-top: 3rem;
}

/* header part ends here and main part starts */

  .quick-list{
    justify-content: center;
    padding: 5% 12%;
    gap: 4.5rem;
  }

  .quick-list-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    flex: 1;
    border-radius: 0.5rem;
  }

  .quick-list-gallery > img{
    width: 100%;
  }

  .quick-list-content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  .of-our{
    font-weight: 700;
  }

  .feature-text{
    font-weight: 700;
    color: #ff900e;
  }

  .quick-list-content > a{
    align-self: self-start;
  }

  /* quick list ends and features love & enjoyable starts */

 .feature-enjoyable{
    gap: 9rem;
    padding: 5% 10%;
}

#border-design{
  border-left: 5px solid #ff900e;
  padding-left: 1.25rem;
}

.feature-content{
  flex: 1;
    
 }

 #down-space{
  margin-bottom: 1.25rem;
 }

.feature-cards{
  padding: 0.8rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 1.5rem;
}

.heading-third{
  font-size: 1.25rem;
  font-weight: 600;
}

.feature-photo{
  flex: 1;
 }

 .feature-photo > img{
    width: 100%;
    border-radius: 0.5rem;
    height: 90%;
 }

.experience-button{
  display: inline-block;
  text-decoration: none;
  background-color:  #ff900e;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
  line-height: 108%;
  position: relative;
  top: -6rem;
  left: -6rem;
  
}

.text-experience{
  font-size: 1.5rem;
  font-weight: 500;
}
